/**************************************** COLOR SETTINGS *********************************************/
:root {
  --sfondo: #121212; /*var(--sfondo)*/
  --navbar: #1c1c1c; /*var(--navbar)*/
  --navbar-2: #333333; /*var(--navbar-2)*/
  --attivo: #4caf50; /*var(--attivo)*/
  --footer: #1c1c1c; /*var(--footer)*/

  --testo: #ffffff; /*var(--testo)*/
  --paragrafo: #b3b3b3; /*var(--paragrafo)*/

  --sfondo-card: #333; /* var(--sfondo-card) */
}

/**************************************** END COLOR SETTINGS *********************************************/

/* Reset per margini e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Stile base per il corpo */
body {
  font-family: Arial, sans-serif;
  background-color: var(--sfondo); /* colore di sfondo scuro */
  color: var(--testo); /* testo bianco */
  line-height: 1.6;
}

/**************************************** NAVBAR *********************************************/
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--navbar);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: top 0.3s; /* Per effetto mobile quando esce dalla vista */
}

/* Logo e immagine a sinistra */
#navbar .logo img {
  height: 60px; /* Modifica l’altezza secondo necessità */
  border-radius: 50%; /* Applica un bordo rotondo se desiderato */
}

/* Posizionamento dei link a destra */
#navbar ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 1rem 0;
}

/* Stile dei singoli link */
#navbar ul li {
  display: inline;
}

/* Stile per la navbar fissa */
#navbar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

#navbar a {
  color: var(--testo);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

#navbar a.active {
  background-color: var(--attivo);
  border-radius: 5px;
}

#navbar a:hover {
  background-color: var(--navbar-2);
  border-radius: 5px;
}

/* Menu hamburger per schermi piccoli */
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--testo);
}

/**************************************** END NAVBAR *********************************************/

/**************************************** SECTION STYLE *********************************************/
section {
  padding: 100px 20px; /* aggiusta il padding per il layout */
  margin-top: 60px; /* per compensare la navbar fissa */
  text-align: center;
}

section h1,
section h2 {
  color: var(--testo);
  margin-bottom: 20px;
}

#about p,
#cv a,
#socials p,
#projects p,
#contact p {
  color: var(--paragrafo);
}

#cv a {
  color: var(--attivo);
  text-decoration: none;
  font-weight: bold;
  border: 2px solid var(--attivo);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#cv a:hover {
  background-color: var(--attivo);
  color: var(--testo);
}

/**************************************** END SECTION STYLE *********************************************/

/**************************************** HOMEPAGE LOGOS *********************************************/

.logos {
  width: 3%; /* Imposta la larghezza al 50% del contenitore */
}

/**************************************** END HOMEPAGE LOGOS *********************************************/

/**************************************** TYPING EFFECT *********************************************/

/* Contenitore generale */
#about .container {
  display: flex;
  flex-direction: column; /* Dispone gli elementi in colonna */
  align-items: center; /* Centra gli elementi orizzontalmente */
  justify-content: center; /* Centra gli elementi verticalmente */
  text-align: center;
  padding: 50px;
}

/* Testo della scritta "Hi, I'm Marco" con effetto macchina da scrivere */
.typing-effect {
  font-size: 2em;
  font-weight: bold;
  font-family: monospace;
  color: #fff;
  overflow: hidden; /* Nasconde il testo in eccesso per l’effetto typing */
  white-space: nowrap;
  border-right: 4px solid #fff; /* Cursore stile macchina da scrivere */
  animation: typing 3s steps(20) 1s 1 normal both, blink 0.5s step-end infinite;
}

/* Descrizione al centro */
.description {
  max-width: 70%; /* Puoi regolare la larghezza massima per un aspetto più compatto */
  color: #ddd;
  margin-top: 20px;
  line-height: 1.6;
}

/* Effetto macchina da scrivere */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/**************************************** END TYPING EFFECT *********************************************/

/**************************************** CARD *********************************************/

#projects {
  text-align: center;
  color: var(--testo);
}

.card {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
  background-color: var(--sfondo-card);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-icon img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.card-content {
  text-align: left;
}

.card-content h3 {
  margin: 0;
  font-size: 1.5rem;
}

.card-content p {
  margin: 5px 0 0;
  font-size: 1rem;
}

/**************************************** FINE CARD *********************************************/

/**************************************** FOOTER *********************************************/
footer {
  background-color: var(--footer);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  color: var(--testo);
  font-size: 0.9rem;
}

/**************************************** END FOOTER *********************************************/

/**************************************** DISPLAY SETTINGS *********************************************/

/* Stili base per la navbar */
#navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

#navbar ul li {
  display: inline;
}

@media (max-width: 768px) {
  /* Nascondi i link e mostra il menu hamburger su schermi piccoli */
  #navbar ul {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--navbar);
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
  }

  #navbar ul.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .logos {
    width: 18%; /* Imposta la larghezza al 50% del contenitore */
  }

  .card-content h3 {
    margin: 0;
    font-size: 1.2rem;
  }

  .card-content p {
    margin: 2px 0 0;
    font-size: 1rem;
  }
}

/**************************************** END DISPLAY SETTINGS *********************************************/

/**************************************** CONTACT CARD *********************************************/
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: var(--sfondo);
}

/* Stile per la contact card */
.contact-card {
  background-color: var(--sfondo-card);
  border-radius: 10px;
  padding: 20px 40px;
  box-shadow: 0 4px 10px rgba(105, 105, 105, 0.527);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

/* Titolo e testo */
.contact-card h2 {
  margin: 0;
  font-size: 1.8em;
  color: var(--testo);
}

.contact-card p {
  font-size: 1em;
  color: var(--testo);
}

/* Stile per l'email e pulsante copia */
.contact-info {
  margin: 20px 0;
}

.contact-info p {
  font-size: 1em;
  color: var(--testo);
}

.copy-btn {
  background-color: var(--attivo);
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none; /* Aggiungi questa regola per rimuovere la sottolineatura del link */
  display: inline-block; /* Aggiungi questa regola per mantenere l'aspetto del pulsante */
}

.copy-btn:hover {
  background-color: #4caf4f69;
}

#email {
  color: var(--attivo);
}

/**************************************** FINE CONTACT CARD *********************************************/
