/* PROBABILI COLORI PER IL PORTFOLIO*/
/*
Blu e grigio:
Blu: #1E90FF
Grigio: #A9A9A9

Verde e bianco:
Verde: #32CD32
Bianco: #FFFFFF

Nero e arancione:
Nero: #000000
Arancione: #FFA500

Toni pastello:
Azzurro: #ADD8E6
Verde menta: #98FF98
Lavanda: #E6E6FA

Grigio scuro e giallo:
Grigio scuro: #2F4F4F
Giallo: #FFD700

*/
